openapi: 3.0.0
info:
  title: Pure Fusion API
  description: >
    Pure Fusion is fully API-driven. Most APIs which change the system (POST, PATCH,
    DELETE) return an Operation in status "Pending" or "Running". You can poll (GET)
    the operation to check its status, waiting for it to change to "Succeeded" or
    "Failed".
  version: "1.1"
servers:
- url: https://api.pure1.purestorage.com/fusion/api/1.1
  description: Pure Fusion API
tags:
- name: Arrays
  description: (Provider) An Array (Asset) is the physical array. An Array resides
    in an AZ. It has a Hardware Type which is an attribute of the Storage Class.
- name: Availability Zones
  description: An Availability Zone (AZ) (e.g. "NYC DC-1") is a fault domain within
    a Region. It contains Arrays.
- name: Regions
  description: A Region is a collection of Availability Zones. It is owned by AZ Admins.
    Active Cluster / Sync Rep is possible between AZs in the same Region.
- name: Hardware Types
  description: (Provider) A Hardware Type defines a class of hardware (name, array_type,
    media_type). It is used in a creation of Storage Service.
- name: Storage Classes
  description: A Storage Class (e.g. "Gold") is published by the AZ Admin. It is a
    coarse grained tier, perhaps just one per Storage Service and QoS. It specifies
    a Max IOPS / GB, bandwidth and size; as well as Storage Service.
- name: Storage Services
  description: A Storage Service represents a type of storage that shares fundamental
    characteristics like response latency, availability, protocol, and data management
    features. Placement Groups select a Storage service to guarantee consistent snapshots
    and hardware affinity expectations
- name: Protection Policies
  description: A Protection Policy (e.g. "Hourly") is published by the AZ Admin. It
    specifies a Snapshot policy.
- name: Tenants
  description: A Tenant (e.g. "Engineering") is created within an Organization to
    group Tenant Spaces. It enables departments within a company to operate autonomously.
    It is created by an AZ Admin.
- name: Tenant Spaces
  description: A Tenant Space (e.g. "Wiki") contains resources (Volumes, Volume Snapshots,
    etc.) and exists inside a Tenant.
- name: Volumes
  description: A Volume represents a container that manages the storage space on the
    array. After a Volume has been created, establish a Host-Volume connection so
    that the Host can read data from and write data to the Volume. When creating a
    Volume, specify its Storage Class and, optionally, a Protection Policy.
- name: Operations
  description: An Operation is returned from requests which modify state (POST, PATCH,
    DELETE). GET the Operation to see the progress of the request. The resource field
    indicates the resource operated upon; for create (POST), the resource is filled
    in once creation succeeds.
- name: Host Access Policies
  description: Host access policy is assigned to volume to access volume from the
    initiator
- name: Snapshots
  description: A Snapshot contains a grouping of volume snapshots
- name: Volume Snapshots
  description: A Volume Snapshot represents a point in time image of a given Volume.
- name: Placement Groups
  description: A Placement Group contains volumes in the same Tenant Space that reside
    on the same physical array. Volumes inside the same Placement Group could have
    crash-consistent snapshot.
- name: Network Interface Groups
  description: (Provider) A Network Interface Group is a collection of Network Interfaces.
- name: Network Interfaces
  description: (Provider) A Network Interface of an Array for use by Pure Fusion.
- name: Storage Endpoints
  description: (Provider) A Storage Endpoint provides access to storage in an Availability
    Zone.
- name: Identity Manager
  description: An API Client Manager for use by Pure Fusion
- name: Roles
  description: A role confers its permissions to principals (Users or API Clients)
    that are assigned to it.
- name: Role Assignments
  description: A role assignment records that a principal (User or API Client) is
    assigned to a role, scoped to a particular resource and its chidren.
- name: Workload Planner
  description: (Provider) Placement Recommendation APIs that integrates with Pure1
    Meta. Use this if you would like us to tell you where you should be placing/migrating
    your Placement Groups.
paths:
  /operations:
    get:
      operationId: list_operations
      tags:
      - Operations
      summary: Gets a list of Operations matching the criteria.
      parameters:
      - in: query
        name: action
        schema:
          type: string
        description: The action requested.
      - in: query
        name: request_id
        schema:
          type: string
        description: The request ID supplied with the request.
      - in: query
        name: request_collection
        schema:
          type: string
        description: Default to \"/\", valid values take the form \"/\", \"/tenants/<tname>\",
          or \"/tenants/<tname>/tenant-spaces/<tsname>\"
      - in: query
        name: resource_kind
        schema:
          type: string
        description: The kind of resource on which the Operation was performed.
      - in: query
        name: resource_id
        schema:
          type: string
        description: The ID of resource on which the Operation was performed.
      - in: query
        name: status
        schema:
          type: string
        description: The status of the Operation. Support for comma separated multiple
          status is deprecated, use IN list instead
      - in: query
        name: created_after
        schema:
          type: string
          description: (Deprecated) Returns all objects that were created after the
            given time. The time must be specified in milliseconds since the UNIX
            Epoch.
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/sort"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/offset"
      responses:
        '200':
          description: A JSON array of Operations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    parameters:
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
  /operations/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
      description: The Operation ID
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_operation
      tags:
      - Operations
      summary: Gets a specific Operation.
      responses:
        '200':
          description: An Operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /regions:
    get:
      operationId: list_regions
      tags:
      - Regions
      summary: Gets a list of all Regions.
      responses:
        '200':
          description: A JSON array of Regions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionList"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    post:
      operationId: create_region
      summary: Creates a Region.
      tags:
      - Regions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegionPost"
      responses:
        '202':
          description: Create request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    parameters:
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
  /regions/{region_name}:
    parameters:
    - $ref: "#/components/parameters/region_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_region
      tags:
      - Regions
      summary: Gets a specific Region.
      responses:
        '200':
          description: A Region
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    patch:
      operationId: update_region
      tags:
      - Regions
      summary: Updates a Region.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegionPatch"
      responses:
        '202':
          description: Update request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    delete:
      operationId: delete_region
      summary: Deletes a specific Region.
      tags:
      - Regions
      responses:
        '202':
          description: Delete request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /regions/{region_name}/availability-zones:
    parameters:
    - $ref: "#/components/parameters/region_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: list_availability_zones
      tags:
      - Availability Zones
      summary: Gets a list of all Availability Zones.
      responses:
        '200':
          description: A JSON array of Availability Zones
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityZoneList"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    post:
      operationId: create_availability_zone
      summary: Creates an Availability Zone.
      tags:
      - Availability Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailabilityZonePost"
      responses:
        '202':
          description: Create request accepted. Returns an Operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /regions/{region_name}/availability-zones/{availability_zone_name}:
    parameters:
    - $ref: "#/components/parameters/region_name"
    - $ref: "#/components/parameters/availability_zone_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_availability_zone
      tags:
      - Availability Zones
      summary: Gets a specific Availability Zone.
      responses:
        '200':
          description: An Availability Zone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityZone"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    delete:
      operationId: delete_availability_zone
      summary: Deletes a specific Availability Zone.
      tags:
      - Availability Zones
      responses:
        '202':
          description: Delete request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /regions/{region_name}/availability-zones/{availability_zone_name}/performance:
    parameters:
    - $ref: "#/components/parameters/region_name"
    - $ref: "#/components/parameters/availability_zone_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_availability_zone_performance
      tags:
      - Availability Zones
      summary: (Provider) Gets performance metrics of a specific Availability Zone.
      responses:
        '200':
          description: Performance Metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Performance"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /regions/{region_name}/availability-zones/{availability_zone_name}/space:
    parameters:
    - $ref: "#/components/parameters/region_name"
    - $ref: "#/components/parameters/availability_zone_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_availability_zone_space
      tags:
      - Availability Zones
      summary: (Provider) Gets space metrics of a specific Availability Zone.
      responses:
        '200':
          description: Space Metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /tenants:
    get:
      operationId: list_tenants
      tags:
      - Tenants
      summary: Gets a list of all Tenants.
      responses:
        '200':
          description: A JSON array of Tenants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantList"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    post:
      operationId: create_tenant
      summary: Creates a Tenant.
      tags:
      - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantPost"
      responses:
        '202':
          description: Create request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    parameters:
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
  /tenants/{tenant_name}:
    parameters:
    - $ref: "#/components/parameters/tenant_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_tenant
      tags:
      - Tenants
      summary: Gets a specific Tenant.
      responses:
        '200':
          description: A Tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tenant"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    patch:
      operationId: update_tenant
      tags:
      - Tenants
      summary: Updates a Tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantPatch"
      responses:
        '202':
          description: Update request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    delete:
      operationId: delete_tenant
      summary: Deletes a specific Tenant.
      tags:
      - Tenants
      responses:
        '202':
          description: Delete request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /tenants/{tenant_name}/performance:
    parameters:
    - $ref: "#/components/parameters/tenant_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_tenant_performance
      tags:
      - Tenants
      summary: Gets performance metrics of a specific Tenant.
      responses:
        '200':
          description: Performance Metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Performance"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /tenants/{tenant_name}/space:
    parameters:
    - $ref: "#/components/parameters/tenant_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      operationId: get_tenants_space
      tags:
      - Tenants
      summary: Gets space metrics of a specific Tenant.
      responses:
        '200':
          description: Space Metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Space"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
  /tenants/{tenant_name}/tenant-spaces:
    parameters:
    - $ref: "#/components/parameters/tenant_name"
    - in: header
      name: X-Request-ID
      schema:
        type: string
      description: The Request ID supplied with the request, used to perform operations
        idempotently.
    - in: header
      name: Authorization
      schema:
        type: string
      description: Access token (in JWT format) required to use any API endpoint.
    - in: header
      name: X-Correlation-ID
      schema:
        type: string
      description: The Correlation ID provided will be added to log messages and can
        be used for support. The same Correlation ID may be used for separate requests,
        to track a higher level workflow.
    get:
      parameters:
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/sort"
      - $ref: "#/components/parameters/limit"
      - $ref: "#/components/parameters/offset"
      - $ref: "#/components/parameters/id_key"
      - $ref: "#/components/parameters/name_key"
      - $ref: "#/components/parameters/display_name_key"
      operationId: list_tenant_spaces
      tags:
      - Tenant Spaces
      summary: Gets a list of all Tenant Spaces.
      responses:
        '200':
          description: A JSON array of Tenant Spaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantSpaceList"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '500':
          description: An internal error occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
    post:
      operationId: create_tenant_space
      summary: Creates a Tenant Space.
      tags:
      - Tenant Spaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantSpacePost"
      responses:
        '202':
          description: Create request accepted. Returns an operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '401':
          description: The principal is unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '403':
          description: The principal does not have permission to access the resource
            for this purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '404':
          description: A resource named in the path or payload was not found or cannot
            be accessed; or the path itself is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
                type: string
              description: The Request ID returned was provided in the request, or
                system generated if it was not specified
        '422':
          description: A required field in the JSON payload is missing; or a field
            has the wrong format (e.g., invalid characters in a name; an unsupported
            enum value).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          headers:
            X-Correlation-ID:
              schema:
                type: string
              description: The Correlation ID returned was provided in the request,
                or system generated if it was not specified
            X-Request-ID:
              schema:
[...]
